@import "tailwindcss";

/* Optional: comfy defaults */
@layer base {
  :root {
    --radius: 10px;
    --sidebar-w: 16rem; 
    --brand-blue: #00F;}

  html,
  body {
    height: 100%;
  }

  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}

@layer components {
  .card {
    @apply bg-white rounded-xl shadow-sm ring-1 ring-black/5;
  }
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
